workflow.json
{
  "name": "Crypto Trading Bot - Simple Batch Fixed",
  "nodes": [
    {
      "parameters": {},
      "id": "a7620e25-eb7a-4f12-a082-eac5a7b559c0",
      "name": "Start Bot",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/dryjins/aib/main/2026/l4/crypto_features_3months.csv",
        "options": {}
      },
      "id": "0d3947c0-cc61-47be-9d06-8a9758ea67ce",
      "name": "1. Load Market Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/dryjins/aib/main/2026/l4/crypto_news_3months.csv",
        "options": {}
      },
      "id": "bc59bab0-bdc2-470e-b80b-78f0353181e5",
      "name": "2. Load News Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\nlet text = '';\nif (typeof input.json === 'string') text = input.json;\nelse if (input.json.data) text = input.json.data;\nelse if (input.binary) text = Buffer.from(input.binary.data.data, 'base64').toString('utf-8');\n\nconst lines = text.split('\\n').filter(l => l.trim());\nconst headers = lines[0].split(',').map(h => h.trim());\n\nconst result = [];\nfor (let i = 1; i < lines.length; i++) {\n  const line = lines[i];\n  if (!line.trim()) continue;\n  const values = [];\n  let current = '';\n  let inQuotes = false;\n  for (let char of line) {\n    if (char === '\"') inQuotes = !inQuotes;\n    else if (char === ',' && !inQuotes) {\n      values.push(current.trim());\n      current = '';\n    } else current += char;\n  }\n  values.push(current.trim());\n  const obj = {};\n  headers.forEach((h, idx) => obj[h] = values[idx] || '');\n  result.push({ json: obj });\n}\nreturn result;"
      },
      "id": "5eded75b-fa62-45aa-bc1e-704a1bbc12bc",
      "name": "Parse CSV (Market)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\nlet text = '';\nif (typeof input.json === 'string') text = input.json;\nelse if (input.json.data) text = input.json.data;\nelse if (input.binary) text = Buffer.from(input.binary.data.data, 'base64').toString('utf-8');\n\nconst lines = text.split('\\n').filter(l => l.trim());\nconst headers = lines[0].split(',').map(h => h.trim());\n\nconst result = [];\nfor (let i = 1; i < lines.length; i++) {\n  const line = lines[i];\n  if (!line.trim()) continue;\n  const values = [];\n  let current = '';\n  let inQuotes = false;\n  for (let char of line) {\n    if (char === '\"') inQuotes = !inQuotes;\n    else if (char === ',' && !inQuotes) {\n      values.push(current.trim());\n      current = '';\n    } else current += char;\n  }\n  values.push(current.trim());\n  const obj = {};\n  headers.forEach((h, idx) => obj[h] = values[idx] || '');\n  result.push({ json: obj });\n}\nreturn result;"
      },
      "id": "0155de76-6aac-49b9-ae8e-d4898b73614b",
      "name": "Parse CSV (News)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const newsByDate = {};\nfor (const item of $input.all()) {\n  let d = item.json.date || (item.json.datetime ? item.json.datetime.split(' ')[0] : '');\n  if (!d) continue;\n  if (!newsByDate[d]) newsByDate[d] = [];\n  newsByDate[d].push(item.json.title);\n}\nreturn [{ json: { newsByDate } }];"
      },
      "id": "446d5a82-9e36-434a-a807-edddcf073be6",
      "name": "Group News",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        208
      ]
    },
    {
      "parameters": {},
      "id": "450eb4e7-2c0a-40bb-aa35-58a847610191",
      "name": "Wait for Both",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        880,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nlet newsLookup = {};\nconst marketData = [];\n\nfor (const item of allItems) {\n  if (item.json.newsByDate) newsLookup = item.json.newsByDate;\n  else if (item.json.date) marketData.push(item);\n}\n\nmarketData.sort((a, b) => new Date(a.json.date) - new Date(b.json.date));\n\nconst merged = [];\nfor (const item of marketData) {\n  let d = item.json.date.split(' ')[0];\n  const news = newsLookup[d] || [];\n  const newsText = news.length > 0 ? news.slice(0, 3).join(' | ') : \"Market is quiet today.\";\n\n  merged.push({\n    json: {\n      ...item.json,\n      news_text: newsText,\n      news_count: news.length\n    }\n  });\n}\n\nreturn merged;"
      },
      "id": "673db618-7551-4156-b225-18e116204c9a",
      "name": "3. Merge Daily Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "// Simple Batch Preparation\nconst allItems = $input.all();\nconst inputsArray = allItems.map(item => item.json.news_text);\n\n// We store original items to merge later\nreturn [{\n  json: {\n    batch_inputs: inputsArray,\n    original_items: allItems.map(i => i.json)\n  }\n}];"
      },
      "id": "9f43a8bb-ed33-4fc7-9264-b84da361b57e",
      "name": "4. Prepare Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/distilbert/distilbert-base-uncased-finetuned-sst-2-english",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"inputs\": $json.batch_inputs} }}",
        "options": {}
      },
      "id": "e37b034f-fa02-4113-b3ff-dc33cf243db9",
      "name": "5. HF Sentiment (Single Batch)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1584,
        16
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pDLyjvmqyeiMixeD",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Final Logic (Portfolio + Sharpe + MDD)\nconst item = $input.first();\n\n// 1. Get Data\nlet apiResponse = item.json.data || item.json;\nconst prepareNode = $(\"4. Prepare Batch\").first();\nconst originalItems = prepareNode.json.original_items; \n\nif (!originalItems) throw new Error(\"Missing original_items\");\n\n// 2. Normalize API\nlet sentiments = apiResponse;\nif (Array.isArray(apiResponse) && Array.isArray(apiResponse[0])) sentiments = apiResponse;\nelse if (!Array.isArray(apiResponse)) sentiments = [apiResponse];\n\n// 3. Setup Portfolio\nconst tickers = [...new Set(originalItems.map(i => i.ticker))]; \nconst initialCapitalPerTicker = 10000 / tickers.length; \nconst portfolio = {};\n\ntickers.forEach(t => {\n    portfolio[t] = { \n        balance: initialCapitalPerTicker, \n        coin: 0, \n        inPosition: false, \n        entryPrice: 0,\n        entryDate: null,\n        daysInPosition: 0,\n        lastEquity: initialCapitalPerTicker\n    };\n});\n\n// 4. Processing Loop\nconst trades = [];\nlet totalTrades = 0;\nlet winningTrades = 0;\nlet totalProfit = 0;\nlet totalLoss = 0;\n\nconst loopCount = Math.min(originalItems.length, sentiments.length);\n\nfor (let i = 0; i < loopCount; i++) {\n    const d = originalItems[i];\n    const s = sentiments[i];\n    const ticker = d.ticker;\n    const price = parseFloat(d.price || d.close);\n    const currentDate = d.date;\n    \n    const wallet = portfolio[ticker];\n    if (!wallet) continue;\n\n    // --- Sentiment ---\n    let best = { score: 0, label: 'NEUTRAL' };\n    if (Array.isArray(s)) best = s.reduce((p, c) => (c.score > p.score ? c : p), {score: 0});\n    else if (s && s.label) best = s;\n    \n    const sentimentLabel = best.label || 'NEUTRAL';\n    const sentimentScore = best.score || 0;\n\n    // Technical indicators\n    const rsi = parseFloat(d.rsi) || 50;\n    const macdHist = parseFloat(d.macd_hist) || 0;\n    const bbPos = parseFloat(d.bb_position) || 0.5;\n    const volatility = parseFloat(d.volatility_7d) || 0.03;\n    const ma20 = parseFloat(d.ma20) || price;\n    const volumeChange = parseFloat(d.volume_change) || 0;\n\n    // --- SCORING SYSTEM (v14) ---\n    let score = 0;\n    \n    if (sentimentLabel === 'POSITIVE') {\n        score += sentimentScore * 20;\n    } else if (sentimentLabel === 'NEGATIVE') {\n        score -= sentimentScore * 20;\n    }\n    \n    if (rsi < 55) {\n        score += (55 - rsi) * 0.8;\n    } else if (rsi > 65) {\n        score -= (rsi - 65) * 0.8;\n    }\n    if (score > 20) score = 20;\n    if (score < -20) score = -20;\n    \n    if (macdHist > 0) {\n        score += 10;\n    } else if (macdHist < 0) {\n        score -= 10;\n    }\n    \n    if (bbPos < 0.25) {\n        score += 15;\n    } else if (bbPos > 0.75) {\n        score -= 15;\n    }\n    \n    if (volumeChange > 0.1) {\n        score += 5;\n    } else if (volumeChange < -0.1) {\n        score -= 5;\n    }\n    \n    if (volatility > 0.08) {\n        score -= 10;\n    } else if (volatility > 0.05) {\n        score -= 5;\n    }\n    \n    if (price > ma20) {\n        score += 5;\n    }\n    \n    // --- DECISION LOGIC ---\n    let decision = 'hold';\n    let reason = '';\n    \n    if (rsi > 80) {\n        decision = 'sell';\n        reason = `Emergency sell: RSI ${rsi.toFixed(2)} > 80`;\n    } else if (bbPos > 0.98) {\n        decision = 'sell';\n        reason = `Emergency sell: BB position ${bbPos.toFixed(2)} > 0.98`;\n    }\n    else {\n        if (wallet.inPosition) {\n            if (sentimentLabel === 'NEGATIVE' && sentimentScore > 0.7) {\n                decision = 'sell';\n                reason = `Exit: strong negative sentiment (${(sentimentScore*100).toFixed(0)}%)`;\n            }\n            else if (rsi > 70) {\n                decision = 'sell';\n                reason = `Exit: RSI overbought (${rsi.toFixed(2)})`;\n            }\n            else if (price < ma20) {\n                decision = 'sell';\n                reason = `Exit: price below MA20 (${ma20.toFixed(2)})`;\n            }\n            else if (price < wallet.entryPrice * 0.92) {\n                decision = 'sell';\n                reason = `Stop loss 8% (entry ${wallet.entryPrice.toFixed(2)})`;\n            }\n            else if (price > wallet.entryPrice * 1.25) {\n                decision = 'sell';\n                reason = `Take profit 25% (entry ${wallet.entryPrice.toFixed(2)})`;\n            }\n            else if (wallet.daysInPosition >= 7) {\n                decision = 'sell';\n                reason = `Max holding period (7 days)`;\n            }\n        }\n        \n        if (!wallet.inPosition && decision === 'hold') {\n            if (volumeChange <= 0) {\n                decision = 'hold';\n                reason = `No buy: volume change <= 0 (${volumeChange.toFixed(2)})`;\n            } else {\n                if (score >= 20) {\n                    decision = 'buy';\n                    reason = `Score ${score.toFixed(0)} >= 20, volume positive`;\n                }\n                else if (sentimentLabel === 'POSITIVE' && sentimentScore > 0.8 && rsi < 40) {\n                    decision = 'buy';\n                    reason = `Strong positive + oversold RSI (${rsi.toFixed(2)}) + volume positive`;\n                }\n            }\n        }\n        \n        if (decision === 'hold') {\n            reason = `Score ${score.toFixed(0)}: neutral`;\n        }\n    }\n    \n    // --- CRITICAL FIX: Replace hold with buy/sell as per instructor's requirement ---\n    if (decision === 'hold') {\n        if (wallet.inPosition) {\n            decision = 'buy';\n            reason = reason + ' → converted to buy (in position)';\n        } else {\n            decision = 'sell';\n            reason = reason + ' → converted to sell (out of position)';\n        }\n    }\n    \n    // Update days in position\n    if (wallet.inPosition) {\n        wallet.daysInPosition++;\n    }\n\n    // --- Execution ---\n    let action = 'none';\n    let pnl = 0;\n\n    if (decision === 'buy' && !wallet.inPosition) {\n        wallet.entryPrice = price;\n        wallet.entryDate = currentDate;\n        wallet.daysInPosition = 0;\n        wallet.coin = wallet.balance / price;\n        wallet.balance = 0;\n        wallet.inPosition = true;\n        action = 'buy';\n        \n    } else if (decision === 'sell' && wallet.inPosition) {\n        const sellValue = wallet.coin * price;\n        pnl = sellValue - (wallet.coin * wallet.entryPrice);\n        \n        if (pnl > 0) {\n            winningTrades++;\n            totalProfit += pnl;\n        } else {\n            totalLoss += Math.abs(pnl);\n        }\n        \n        wallet.balance = sellValue;\n        wallet.coin = 0;\n        wallet.inPosition = false;\n        wallet.daysInPosition = 0;\n        totalTrades++;\n        action = 'sell';\n    }\n\n    const currentTickerEquity = wallet.inPosition ? (wallet.coin * price) : wallet.balance;\n    wallet.lastEquity = currentTickerEquity; \n\n    trades.push({\n        date: d.date,\n        ticker: ticker,\n        price: price,\n        decision: decision,\n        action: action,\n        pnl: pnl !== 0 ? pnl.toFixed(2) : '',\n        rsi: rsi.toFixed(2),\n        sentiment_label: sentimentLabel,\n        sentiment_score: sentimentScore.toFixed(2),\n        score: score.toFixed(0),\n        equity: currentTickerEquity.toFixed(2),\n        reason\n    });\n}\n\n// 5. Calculate Daily Portfolio Equity Curve\nconst dateEquityMap = {};\nconst uniqueDates = [...new Set(trades.map(t => t.date))].sort();\n\ntrades.forEach(t => {\n    if (!dateEquityMap[t.date]) dateEquityMap[t.date] = 0;\n    dateEquityMap[t.date] += parseFloat(t.equity);\n});\n\nconst equityCurve = uniqueDates.map(d => dateEquityMap[d]);\n\n// 6. Calculate Metrics\nlet peak = -Infinity;\nlet maxDrawdown = 0;\nconst dailyReturns = [];\n\nfor (const eq of equityCurve) {\n    if (eq > peak) peak = eq;\n    const dd = (peak - eq) / peak;\n    if (dd > maxDrawdown) maxDrawdown = dd;\n}\n\nfor (let i = 1; i < equityCurve.length; i++) {\n    const prev = equityCurve[i-1];\n    const curr = equityCurve[i];\n    const ret = prev !== 0 ? (curr - prev) / prev : 0;\n    dailyReturns.push(ret);\n}\n\nconst avgDailyRet = dailyReturns.reduce((a, b) => a + b, 0) / dailyReturns.length || 0;\nconst variance = dailyReturns.reduce((a, b) => a + Math.pow(b - avgDailyRet, 2), 0) / dailyReturns.length || 0;\nconst stdDev = Math.sqrt(variance);\nconst sharpeRatio = stdDev !== 0 ? (avgDailyRet / stdDev) * Math.sqrt(365) : 0;\n\nconst finalTotalEquity = equityCurve[equityCurve.length - 1] || 10000;\nconst totalReturn = ((finalTotalEquity - 10000) / 10000) * 100;\nconst winRate = totalTrades > 0 ? ((winningTrades / totalTrades) * 100) : 0;\nconst profitFactor = totalLoss > 0 ? (totalProfit / totalLoss) : (totalProfit > 0 ? 999 : 0);\n\nreturn [{\n  json: {\n    metric_summary: {\n      \"Total Trades\": totalTrades,\n      \"Win Rate\": winRate.toFixed(2) + \"%\",\n      \"Profit Factor\": profitFactor.toFixed(2),\n      \"Total Return\": totalReturn.toFixed(2) + \"%\",\n      \"Sharpe Ratio\": sharpeRatio.toFixed(2),\n      \"Max Drawdown\": \"-\" + (maxDrawdown * 100).toFixed(2) + \"%\",\n      \"Final Balance\": \"$\" + finalTotalEquity.toFixed(2)\n    },\n    trade_log: trades\n  }\n}];"
      },
      "id": "b3099c11-77a0-4225-8a48-cd9994a3571d",
      "name": "6. Final Logic & Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\nconst trades = input.json.trade_log;\nconst summary = input.json.metric_summary;\n\nif (!trades) throw new Error(\"No trade data\");\nif (!summary) throw new Error(\"No summary data\");\n\n// --- Генерация CSV для лога сделок (trade_log.csv) ---\nconst tradeHeader = 'date,ticker,price,decision,rsi,sentiment,reason\\n';\nconst tradeRows = trades.map(t => {\n  const safeReason = (t.reason || '').replace(/\"/g, \"'\");\n  return `${t.date},${t.ticker},${t.price},${t.decision},${t.rsi},${t.sentiment_label},\"${safeReason}\"`;\n}).join('\\n');\nconst tradeCsv = tradeHeader + tradeRows;\n\n// --- Генерация CSV для метрик (metrics.csv) ---\nconst metricsHeader = 'Metric,Value\\n';\nconst metricsRows = Object.entries(summary).map(([key, value]) => `${key},${value}`).join('\\n');\nconst metricsCsv = metricsHeader + metricsRows;\n\nreturn [{\n  json: {\n    message: \"CSV files ready\"\n  },\n  binary: {\n    trade_log: {\n      data: Buffer.from(tradeCsv).toString('base64'),\n      mimeType: 'text/csv',\n      fileName: 'trade_log.csv'\n    },\n    metrics: {\n      data: Buffer.from(metricsCsv).toString('base64'),\n      mimeType: 'text/csv',\n      fileName: 'metrics.csv'\n    }\n  }\n}];"
      },
      "id": "173b7bde-0048-4d23-be99-6223a4d99a1c",
      "name": "7. Export CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        16
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Start Bot": {
      "main": [
        [
          {
            "node": "1. Load Market Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "2. Load News Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Load Market Data": {
      "main": [
        [
          {
            "node": "Parse CSV (Market)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Load News Data": {
      "main": [
        [
          {
            "node": "Parse CSV (News)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CSV (Market)": {
      "main": [
        [
          {
            "node": "Wait for Both",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CSV (News)": {
      "main": [
        [
          {
            "node": "Group News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group News": {
      "main": [
        [
          {
            "node": "Wait for Both",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait for Both": {
      "main": [
        [
          {
            "node": "3. Merge Daily Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Merge Daily Data": {
      "main": [
        [
          {
            "node": "4. Prepare Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Prepare Batch": {
      "main": [
        [
          {
            "node": "5. HF Sentiment (Single Batch)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. HF Sentiment (Single Batch)": {
      "main": [
        [
          {
            "node": "6. Final Logic & Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Final Logic & Metrics": {
      "main": [
        [
          {
            "node": "7. Export CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e47533e1-778c-47ae-a94b-0a5fc4e5e35e",
  "meta": {
    "instanceId": "fdb4aad5f7f79a2bfa84215c99485f9c794ddd6d0d33d077a7ad22c3c629fbda"
  },
  "id": "jqRhVtMjsu9TPh8f",
  "tags": []
}
